@import "bourbon";

body {
	background: #eee !important;
    
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}


  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);
}


        &:focus {
        z-index: 2;
		}
	

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

header {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: darkgray;
    flex-wrap: wrap;
    display: flex;
}

    .img{
    flex: 35%;
    padding: 10px, 20px;
}

.navbar {
   background: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: greenyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color:black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.footer{
    font-family: Arial;
    background-color:black;
    text-align: center;
    color: greenyellow;
    
}
